<div class="modal">
    <ion-header-bar>
        <h1 class="title">Publish Board</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddBoard()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doAddBoard()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Tag</span>
                    <textarea ng-model="addboarddata.boardTag" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Timeout Time</span>
                    <input ng-model="addboarddata.timeout" type="number">
                </label>
                <label class="item item-input">
                    <span class="input-label">Post lifetime</span>
                    <input ng-model="addboarddata.maxTTL" type="number">
                </label>
                <label class="item item-input">
                    <span class="input-label">Privacy Level</span>
                    <select ng-model="addboarddata.privacyLevel" >
                        <option ng-selected="selected">Public</option>
                        <option>Private</option>
                        <option>Friends</option>
                    </select>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Create</button>
                </label>
            </div>
        </form>
        <div class="card">
            <div class="item item-text-wrap">
                {{responseData.fromServer}}
            </div>
        </div>

    </ion-content>
</div>
