<ion-view title="Phone Contacts">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="contact in contacts">
                <a href="" ng-click="sendOutsiderFriendRequest()">
                    <div class="list card">
                        <div class="item item-avatar">
                            <img src="http://placehold.it/140x100">
                            {{contact.displayName}}
                        </div>
                    </div>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
