
<ion-view>

    <ion-content class="boardGradient">

        <div class="row">
            <div id="welcomeScreen" class="col col-80 col-offset-10">
                <h1>Welcome to Chalk.</h1>

                <div class="row row-center">
                    <div style="height: 100%;"></div>
                    <div class="col col50">
                        <button class="button button-block icon-left ion-arrow-right-c button-balanced" ng-click="login()">
                            <h2>Login</h2>
                        </button>
                    </div>
                    <div class="col col50">
                        <button class="button button-block icon-left ion-plus-round button-positive" ng-click="register()">
                            <h2>Register</h2>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-bind-html-unsafe="html"></div>

    </ion-content>
</ion-view>
