<ion-view title="My Board">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="post in posts">
                {{post.content}}
                {{post.author}}
            </ion-item>
            <ion-item nav-clear menu-close ng-click="addPost()">
                Add Post
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
