
<ion-view title="{{ username }}'s Board">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
    <ion-item nav-clear menu-close ng-click="addPost()">

                Add Post
            </ion-item>

        <ion-list>
            <ion-item ng-repeat="k in myPosts | orderBy:'dateCreated':true" ">
                            <div class="list card">

                                <div class="item item-avatar">
                                    <img src="http://placehold.it/140x100">
                                    <h2>{{k.owner}}</h2>
                                    <p>Posted at: {{k.dateCreated | date:'hh:mm:ss' : 'UTC'}}</p>
                                    <p>Timeout in: {{k.timeout | date:'m' : 'UTC' }} mins</p>
                                    <p>Privacy: {{k.privacyLevel}}</p>

                                </div>

                                <div class="item item-body">
                                    <p>
                                        {{k.content}}
                                    </p>
                                    <div class="card">
                                            <img ng-src="{{k.img}}" />

                                    </div>
                                    <p>
                                        <a href="#" class="subdued">1 Like</a>
                                        <a href="#" class="subdued">5 Comments</a>
                                    </p>
                                </div>

                                <div class="item tabs tabs-secondary tabs-icon-left">
                                    <a class="tab-item" href="#">
                                        <i class="icon ion-thumbsup"></i>
                                        Like
                                    </a>
                                    <a class="tab-item" href="#">
                                        <i class="icon ion-chatbox"></i>
                                        Comment
                                    </a>
                                    <a class="tab-item" href="#">
                                        <i class="icon ion-share"></i>
                                        Share
                                    </a>
                                </div>

                            </div>
                        </ion-item>


            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>
