<ion-view title="My Published Boards">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
            <ion-item nav-clear menu-close ng-click="addBoard()">
                Publish Board
            </ion-item>
        <ion-list>
            <ion-item ng-repeat="board in boards | orderBy:'time':true">
                    <div ng-click="viewBoard(board._id, board.tag)" class="list card">
                        <a href="">
                            <div class="item item-avatar">
                                <img src="http://placehold.it/150x150" />
                                <h2>{{board.tag}}</h2>
                                <p>maxTTL: {{board.maxTTL}}</p>
                                <p>timeout: {{board.timeout}}</p>
                                <p>privacyLevel: {{board.privacyLevel}}</p>
                                <p>published: {{board.time}}</p>
                            </div>
                        </a>
                </ion-item>
                <div class="item item-body">
                    <p>
                    </p>
                    <p>
                        <a href="#" class="subdued">{{board.posts.length}} Posts</a>
                    </p>
                </div>


                </div>
            </ion-item>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>