<ion-view title="Search">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-content class="has-header boardGradient">


                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text" ng-model="updateData.firstName" disabled="disabled">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text" ng-model="updateData.lastName" disabled="disabled" >
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="updateData.username">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="updateData.email">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Max post time on myBoard</span>
                        <input number="text" min="0" ng-model="updateData.maxTTL">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Old Password</span>
                        <input type="text" ng-model="updateData.oldPassword">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">New Password</span>
                        <input type="text" ng-model="updateData.newPassword">
                    </label>
                    <label class="item item-input">
                        <button class="button" ng-click="takePicture()">Take Picture</button>
                    </label>
                    <div class="card">
                        <div class="item item-text-wrap">
                            <img ng-show="updateData.imgURI !== undefined" ng-src="{{updateData.imgURI}}">
                        </div>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <button class="button button-assertive" ng-click="deleteAccount()">
                            Delete Account
                        </button>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <button class="button button-calm" ng-click="updateAccount()">
                            Update Account
                        </button>
                    </label>


                </div>


        </ion-content>
    </ion-view>