<ion-view title="{{addBoardData.boardTag}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
    <ion-item nav-clear menu-close ng-click="addPost()">
                Add Post
            </ion-item>
        <ion-list>
            <ion-item ng-repeat="post in posts">
                        <ion-item ng-repeat="k in posts | orderBy:'dateCreated':true">
                            <div class="list card">


                                    <div class="item item-avatar">
                                        <img src="http://placehold.it/140x100">
                                        <h2>{{k.owner}}</h2>
                                        <p>Posted at: {{k.dateCreated | date:'hh:mm:ss' : 'UTC'}}</p>
                                        <p>Timeout in: {{k.timeout | date:'m' : 'UTC' }} mins</p>
                                        <p>Privacy: {{k.privacyLevel}}</p>

                                    </div>

                                    <div class="item item-body">

                                        <div class="card">
                                            <p>{{k.content}}</p>
                                            <img ng-src="{{k.img}}" />

                                        </div>

                                        </div>




                            </div>
                        </ion-item>


            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>