<div class="modal">
    <ion-header-bar>
        <h1 class="title">Add Post</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddPost()"><i class="icon ion-close-round"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doAddPost()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Post</span>
                    <textarea ng-model="addPostData.content" />
                </label>
                    <input type="hidden" ng-model="addBoardData.boardTag" />
                <label class="item item-input">
                    <span class="input-label">Timeout Time</span>
                    <input ng-model="addPostData.timeout" type="number">
                </label>
                <label class="item item-input">
                    <span class="input-label">Privacy Level</span>
                <select ng-model="addPostData.privacyLevel" class="pull-right">
                    <option ng-selected="selected">Public</option>
                    <option>Private</option>
                    <option>Friends</option>
                </select>
                    </label>

                <ul class="list">
                    <li class="item item-checkbox">
                        <label ng-click="fillTagField()" class="checkbox">
                            <input type="checkbox">
                        </label>
                        Post to my Board
                    </li>

                </ul>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Post</button>
                </label>
            </div>
        </form>
        <label class="item item-input">
            <button class="button" ng-click="takePicture()">Take Picture</button>
        </label>
        <div class="card">
            <div class="item item-text-wrap">
                <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                {{fromServer}}
            </div>
        </div>

    </ion-content>
</div>

