<div class="modal">
    <ion-header-bar>
        <h1 class="title">Add Post</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddPost()"><i class="icon ion-close-round"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doAddPost()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Post</span>
                    <textarea ng-model="addPostData.content" />
                </label>
                <div ng-if="imgURI !== undefined">
                    <div class="item item-text-wrap">
                        <img ng-src="{{imgURI}}" class="img-responsive">
                    </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Add Photo</span>
                    <button class="button icon-left ion-camera" ng-click="takePicture()">Take Picture</button>
                </label>
                <label class="item item-input">
                    <span class="input-label">Lifespan</span>
                    <select ng-model="addPostData.timeout">
                        <option value="1">1 Min</option>
                        <option value="10">10 Min</option>
                        <option value="60">1 hr</option>
                        <option value="360">6 hrs</option>
                        <option value="1440">1 Day</option>
                        <option value="10080">1 Week</option>
                        <option value="43200">1 Month</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Privacy Level</span>
                <select ng-model="addPostData.privacyLevel" class="pull-right">
                    <option ng-selected="selected">Public</option>
                    <option>Private</option>
                    <option>Friends</option>
                </select>
                    </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Post</button>
                </label>
            </div>
        </form>
        <div class="card">
            <div class="item item-text-wrap">
                {{fromServer}}
            </div>
        </div>

    </ion-content>
</div>

